In [1]:
import pandas as pd

# Text

In [3]:
pd.read_table('study/test.txt')

c:\users\qtds\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

                  email
0      554246161@qq.com
1  QTDS0WXY@outlook.com
2    73952164454@qq.com
3     3080905121@qq.com
4         shgd@fail.com

In [4]:
pd.read_table('study/info.txt')

c:\users\qtds\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

     name  age                 email
0    jack   18      554246161@qq.com
1    mary   19  QTDS0WXY@outlook.com
2    lili   22     3080905121@qq.com
3  martin   20  QTDS0WXY@outlook.com
4    jhon   17         shgd@fail.com

In [10]:
pd.read_table('study/03.txt',sep=':',names=['name','pwd','uid','gid','locals'])

c:\users\qtds\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

      name pwd  uid    gid locals
0     root   x  sda  xasdf   xasd
1     dfsf   x  sda  xasdf   xasd
2    dsfsf   x  sda  xasdf   xasd
3    sfgfh   x  sda  xasdf   xasd
4    gdfgd   x  sda  xasdf   xasd
5   gdgdfg   x  sda  xasdf   xasd
6   gfbcvx   x  sda  xasdf   xasd
7  certyth   x  sda  xasdf   xasd
8     ryui   x  sda  xasdf   xasd
9      xbv   x  sda  xasdf   xasd

In [16]:
pd.read_csv('study/book.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xca in position 0: invalid continuation byte

In [30]:
pd.read_csv('study/book.csv',sep=",",encoding='gbk')

           书名，单价
0    你是我的唯一，29.9
1          原则，66
2  半小时漫画世界史，28.9

In [28]:
pd.read_excel('study/num.xls')

    电影名称       上映时间
0   神秘巨星 2018-01-19
1  移动迷宫3 2018-10-26
2   阿凡达2 2018-12-22

In [32]:
pd.read_html('study/web.html',header=0)

[   排名  城市     工资
 0   1  北京  88888
 1   2  上海  66666
 2   3  深圳  22222
 3   4  广州  11111]

In [33]:
tables = pd.read_html('study/web.html',header=0)
tables[0]

   排名  城市     工资
0   1  北京  88888
1   2  上海  66666
2   3  深圳  22222
3   4  广州  11111

In [34]:
tables = pd.read_html('study/web.html',header=0,attrs={'class':'mydata'})

In [38]:
len(tables)

1

In [39]:
tables[0]

   排名  城市     工资
0   1  北京  88888
1   2  上海  66666
2   3  深圳  22222
3   4  广州  11111

In [40]:
import pymysql

In [41]:
conn = pymysql.connect(host='localhost',user='root',password='',db='shopdb',charset='utf8')

In [42]:
sql = "select * from type"
data = pd.read_sql(sql,conn)
conn.close()

In [43]:
data

    id   name  pid    path
0    1    电器类    0      0,
1    2    食品类    0      0,
2    3    服装类    0      0,
3    4    酒水类    0      0,
4    6    电冰箱    1    0,1,
5    7  格力电冰箱    6  0,1,6,
6    8  海尔电冰箱    6  0,1,6,
7    9  美的电冰箱    6  0,1,6,
8   10  其他电冰箱    6  0,1,6,
9   11     女装    3    0,3,
10  12     男装    3    0,3,
11  13     白酒    4    0,4,
12  14     红酒    4    0,4,
13  15     生鲜    2    0,2,
14  16     膨化    2    0,2,

In [44]:
import pymongo

In [45]:
client = pymongo.MongoClient('47.92.222.133',27017)

In [46]:
client

MongoClient(host=['47.92.222.133:27017'], document_class=dict, tz_aware=False, connect=True)

In [48]:
db = 'film'
table = 'film'

In [49]:
cursor = client[db][table].find()

In [50]:
data = pd.DataFrame(list(cursor))

ServerSelectionTimeoutError: 47.92.222.133:27017: timed out

In [ ]:
data