In [1]:
import time

In [2]:
time.time()

1551517032.0135868

In [3]:
time.localtime()

time.struct_time(tm_year=2019, tm_mon=3, tm_mday=2, tm_hour=16, tm_min=57, tm_sec=12, tm_wday=5, tm_yday=61, tm_isdst=0)

In [4]:
time.strftime("%Y-%m-%d %H:%M:%S",time.localtime())

'2019-03-02 16:57:12'

In [5]:
local = time.strptime('2019-03-02 11:34','%Y-%m-%d %H:%M')
local

time.struct_time(tm_year=2019, tm_mon=3, tm_mday=2, tm_hour=11, tm_min=34, tm_sec=0, tm_wday=5, tm_yday=61, tm_isdst=-1)

In [6]:
time.mktime(local)

1551497640.0

In [7]:
from datetime import datetime

In [8]:
now = datetime.now()
now

datetime.datetime(2019, 3, 2, 16, 57, 12, 64469)

In [9]:
now.year,now.month,now.day,now.hour

(2019, 3, 2, 16)

In [10]:
now.strftime("%Y-%m-%d %H:%M:%S")

'2019-03-02 16:57:12'

In [11]:
datetime.strptime('2019-03-02 11:52:11',"%Y-%m-%d %H:%M:%S")

datetime.datetime(2019, 3, 2, 11, 52, 11)

In [12]:
datetime(2019,3,2)

datetime.datetime(2019, 3, 2, 0, 0)

In [13]:
datetime.fromtimestamp(1551497052)

datetime.datetime(2019, 3, 2, 11, 24, 12)

In [14]:
now.timestamp()

1551517032.064469

In [15]:
delta =datetime.now() - datetime(2019,3,1)
delta

datetime.timedelta(days=1, seconds=61032, microseconds=115316)

In [16]:
delta.days

1

In [17]:
delta.seconds

61032

In [18]:
import numpy as np
import pandas as pd

In [19]:
pd.date_range('2018-5-1',freq='Q',periods=10)

DatetimeIndex(['2018-06-30', '2018-09-30', '2018-12-31', '2019-03-31',
               '2019-06-30', '2019-09-30', '2019-12-31', '2020-03-31',
               '2020-06-30', '2020-09-30'],
              dtype='datetime64[ns]', freq='Q-DEC')

In [20]:
data = {
    'time':pd.date_range('2018-6-1',periods=200000,freq='T'),
    'cpu':np.random.randn(200000)+10
}
df = pd.DataFrame(data,columns=['time','cpu'])
df

                      time        cpu
0      2018-06-01 00:00:00   9.017956
1      2018-06-01 00:01:00  10.488462
2      2018-06-01 00:02:00   8.720478
3      2018-06-01 00:03:00   7.812511
4      2018-06-01 00:04:00   9.157938
5      2018-06-01 00:05:00   9.123389
6      2018-06-01 00:06:00  10.641883
7      2018-06-01 00:07:00   7.882068
8      2018-06-01 00:08:00  10.391966
9      2018-06-01 00:09:00   9.029319
10     2018-06-01 00:10:00   9.508464
11     2018-06-01 00:11:00  10.943509
12     2018-06-01 00:12:00   8.698730
13     2018-06-01 00:13:00   9.995280
14     2018-06-01 00:14:00   9.821647
15     2018-06-01 00:15:00  11.958824
16     2018-06-01 00:16:00   9.505927
17     2018-06-01 00:17:00  11.289635
18     2018-06-01 00:18:00  10.020114
19     2018-06-01 00:19:00  11.345817
20     2018-06-01 00:20:00   9.315539
21     2018-06-01 00:21:00  11.017100
22     2018-06-01 00:22:00   9.441069
23     2018-06-01 00:23:00   8.751216
24     2018-06-01 00:24:00   9.581376
25     2018-06-01 00:25:00   9.642999
26     2018-06-01 00:26:00  10.812106
27     2018-06-01 00:27:00  11.058658
28     2018-06-01 00:28:00   9.811801
29     2018-06-01 00:29:00  10.636108
...                    ...        ...
199970 2018-10-17 20:50:00   9.505406
199971 2018-10-17 20:51:00   8.527731
199972 2018-10-17 20:52:00   9.682773
199973 2018-10-17 20:53:00   8.122983
199974 2018-10-17 20:54:00   8.873290
199975 2018-10-17 20:55:00   9.964403
199976 2018-10-17 20:56:00   9.230458
199977 2018-10-17 20:57:00   9.344811
199978 2018-10-17 20:58:00  11.306782
199979 2018-10-17 20:59:00  11.079501
199980 2018-10-17 21:00:00  11.071666
199981 2018-10-17 21:01:00   9.031022
199982 2018-10-17 21:02:00   9.758162
199983 2018-10-17 21:03:00   9.949155
199984 2018-10-17 21:04:00  10.131487
199985 2018-10-17 21:05:00   9.373706
199986 2018-10-17 21:06:00  10.366434
199987 2018-10-17 21:07:00   8.812062
199988 2018-10-17 21:08:00  11.300958
199989 2018-10-17 21:09:00   9.398220
199990 2018-10-17 21:10:00   9.805803
199991 2018-10-17 21:11:00   9.247477
199992 2018-10-17 21:12:00   8.421270
199993 2018-10-17 21:13:00   9.090494
199994 2018-10-17 21:14:00  11.104370
199995 2018-10-17 21:15:00  10.592498
199996 2018-10-17 21:16:00   9.903969
199997 2018-10-17 21:17:00  13.088288
199998 2018-10-17 21:18:00  10.944337
199999 2018-10-17 21:19:00  10.897731

[200000 rows x 2 columns]

In [21]:
df.tail()

                      time        cpu
199995 2018-10-17 21:15:00  10.592498
199996 2018-10-17 21:16:00   9.903969
199997 2018-10-17 21:17:00  13.088288
199998 2018-10-17 21:18:00  10.944337
199999 2018-10-17 21:19:00  10.897731

In [22]:
df[(df.time >= '2018-06-01 08:00:00') & (df.time <= '2018-06-01 08:10:00')]

                   time        cpu
480 2018-06-01 08:00:00  10.113996
481 2018-06-01 08:01:00  10.696812
482 2018-06-01 08:02:00  10.277769
483 2018-06-01 08:03:00  10.587783
484 2018-06-01 08:04:00  10.917802
485 2018-06-01 08:05:00  11.558310
486 2018-06-01 08:06:00  10.296089
487 2018-06-01 08:07:00   9.429775
488 2018-06-01 08:08:00   8.963102
489 2018-06-01 08:09:00   9.542813
490 2018-06-01 08:10:00   9.893321

In [23]:
df2 = df.set_index("time")
df2.head()

                           cpu
time
2018-06-01 00:00:00   9.017956
2018-06-01 00:01:00  10.488462
2018-06-01 00:02:00   8.720478
2018-06-01 00:03:00   7.812511
2018-06-01 00:04:00   9.157938

In [24]:
s = pd.to_datetime(df.time)
s
df.index = s
df.head()

                                   time        cpu
time
2018-06-01 00:00:00 2018-06-01 00:00:00   9.017956
2018-06-01 00:01:00 2018-06-01 00:01:00  10.488462
2018-06-01 00:02:00 2018-06-01 00:02:00   8.720478
2018-06-01 00:03:00 2018-06-01 00:03:00   7.812511
2018-06-01 00:04:00 2018-06-01 00:04:00   9.157938

In [25]:
df = df.drop('time',axis=1)
df.head()

                           cpu
time
2018-06-01 00:00:00   9.017956
2018-06-01 00:01:00  10.488462
2018-06-01 00:02:00   8.720478
2018-06-01 00:03:00   7.812511
2018-06-01 00:04:00   9.157938

In [26]:
df['2018-06-01 08:00:00':'2018-06-01 08:10:00']

                           cpu
time
2018-06-01 08:00:00  10.113996
2018-06-01 08:01:00  10.696812
2018-06-01 08:02:00  10.277769
2018-06-01 08:03:00  10.587783
2018-06-01 08:04:00  10.917802
2018-06-01 08:05:00  11.558310
2018-06-01 08:06:00  10.296089
2018-06-01 08:07:00   9.429775
2018-06-01 08:08:00   8.963102
2018-06-01 08:09:00   9.542813
2018-06-01 08:10:00   9.893321

In [27]:
df2  = df['2018-06-01']
df2.head()

                           cpu
time
2018-06-01 00:00:00   9.017956
2018-06-01 00:01:00  10.488462
2018-06-01 00:02:00   8.720478
2018-06-01 00:03:00   7.812511
2018-06-01 00:04:00   9.157938

In [28]:
df2.tail()

                           cpu
time
2018-06-01 23:55:00   9.648916
2018-06-01 23:56:00  11.167310
2018-06-01 23:57:00   8.100609
2018-06-01 23:58:00  11.001139
2018-06-01 23:59:00  10.761139

In [29]:
df2 = df.groupby(df.index.date).mean()
print(df2.head())
print(df2.tail())

                  cpu
2018-06-01   9.975384
2018-06-02  10.039391
2018-06-03  10.024485
2018-06-04  10.002240
2018-06-05  10.048614
                  cpu
2018-10-13  10.001288
2018-10-14  10.010187
2018-10-15  10.024700
2018-10-16  10.003553
2018-10-17  10.018173

In [30]:
df2 = df.resample('5T').max()
df2.head()

                           cpu
time
2018-06-01 00:00:00  10.488462
2018-06-01 00:05:00  10.641883
2018-06-01 00:10:00  10.943509
2018-06-01 00:15:00  11.958824
2018-06-01 00:20:00  11.017100

In [31]:
df2.tail()

                           cpu
time
2018-10-17 20:55:00  11.306782
2018-10-17 21:00:00  11.071666
2018-10-17 21:05:00  11.300958
2018-10-17 21:10:00  11.104370
2018-10-17 21:15:00  13.088288