In [1]:
import pandas as pd

In [3]:
data = [
    [1,None],
    [4,5],
    [None,None],
    [8,9],
    [3,4]
]
df = pd.DataFrame(data,columns=['a','b'])
df

     a    b
0  1.0  NaN
1  4.0  5.0
2  NaN  NaN
3  8.0  9.0
4  3.0  4.0

In [5]:
df.head(2)

     a    b
0  1.0  NaN
1  4.0  5.0

In [7]:
df.tail(3)

     a    b
2  NaN  NaN
3  8.0  9.0
4  3.0  4.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
a    4 non-null float64
b    3 non-null float64
dtypes: float64(2)
memory usage: 160.0 bytes

In [9]:
df.describe()

             a         b
count  4.00000  3.000000
mean   4.00000  6.000000
std    2.94392  2.645751
min    1.00000  4.000000
25%    2.50000  4.500000
50%    3.50000  5.000000
75%    5.00000  7.000000
max    8.00000  9.000000

In [10]:
df.count()

a    4
b    3
dtype: int64

In [11]:
df.mean()

a    4.0
b    6.0
dtype: float64

In [12]:
df.sum()

a    16.0
b    18.0
dtype: float64

In [13]:
df.sum(axis=1)

0     1.0
1     9.0
2     0.0
3    17.0
4     7.0
dtype: float64

In [14]:
df.a

0    1.0
1    4.0
2    NaN
3    8.0
4    3.0
Name: a, dtype: float64

In [15]:
df.a.sum()

16.0

In [16]:
df

     a    b
0  1.0  NaN
1  4.0  5.0
2  NaN  NaN
3  8.0  9.0
4  3.0  4.0

In [17]:
df.cumsum()

      a     b
0   1.0   NaN
1   5.0   5.0
2   NaN   NaN
3  13.0  14.0
4  16.0  18.0